.form-cent{
    width: 50%;
    margin-top: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;

}
.text{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 750px){
    .form-cent{
        width: 70%;
    }
}
@media(max-width: 400px){
    .form-cent{
        width: 90%;
    }
}
@media(max-width:350px){
    .form-cent{
        width: 100%;
    }
    .bill{
        width: 200px;
    }
}
.center{
    display: flex;
    justify-content: center;
}
.bil-tex{
    font-size: 20px;
}
.align{
    display: flex;
    justify-content: space-between;
}