/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  /* --body-color: #e4e9f7; */
  --body-color: #f9f3ea;
  --sidebar-color: #fff;
  /* --primary-color: #695cfe; */
  --primary-color: #ff9900;
  --primary-color-dark: #ea8c00;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --nav-bg-color: #ffdba6;
  --error-color: red;

  /* ======Shodow ======*/
  --first-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

.heading {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.input-group {
  position: relative;
}

.input-field {
  width: 100%;
  height: 45px;
  border: none;
  padding: 10px;
  background-color: #eeeeee;
  color: gray;
  outline: none;
  font-size: 15px;
  margin-bottom: 20px;
  border: 2px solid #eeeeee;
  transition: .5s;
  border-radius: 5px;
  transition: 0.3s;
}

input:focus {
  background-color: var(--body-color);
  border: 2px solid var(--primary-color);
}

.input-error {
  border: 2px solid var(--error-color);
}

.error-message {
  position: absolute;
  left: 0;
  bottom: 1px;
  font-size: 13px;
  color: var(--error-color);
}

.button-1 {
  width: 100%;
  height: 45px;
  border: none;
  color: #FFFFFF;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.button-1:hover {
  background-color: var(--primary-color-dark);
}

.box-container {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: var(--first-shadow);
  padding: 30px;
  margin-bottom: 20px;
}

.password-div {
  position: relative;
}

.password-div i {
  position: absolute;
  font-size: 18px;
  right: 10px;
  top: 13.5px;
  color: gray;
  cursor: pointer;
}